body {
    margin: 0;
    padding: 0;
    font-family:  'Montserrat', sans-serif;
   box-sizing: border-box;
    background-color: #302c42;
    
  }

 

 .button-container {
    margin: 30px;
    padding: 0;
    text-align: right;

}

.hydra-button {
    display: inline-block;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
}
.contact-button {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;

}
   

  .hydra-button:hover, .contact-button:hover {
  }