@import url('https://fonts.googleapis.com/css2?family=Montsarrat:wght@400;500;700&family=Nontserrat:wght@700&family=Volkhov:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  'Montserrat', sans-serif;
    box-sizing: border-box;
<<<<<<< HEAD
    background-color: #302c42;}
 
=======
    background-color: #302c42;
    }

>>>>>>> 0f8a18d55eb4e975e44e422e949b461e2456ad0f
 .button-container {
    margin: 30px;
    padding: 0;
    text-align: right;
    }

.hydra-button {
    display: inline-block;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
}

.contact-button {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

section {
  width: 1272px;
  height: 167px;
  flex-shrink: 0;
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  }

  .btns {
    display: flex;
    align-items: center;
  }
  .hd-button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #302c42;
    border: none;
    border-radius: 40px;
    background: rgb(129, 118, 175);
    background: linear-gradient(
      0deg,
      rgba(129, 118, 175, 1) 0%,
      rgba(192, 183, 232, 1) 100%
    );
    height: 48px;
    box-sizing : border-box;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

>>>>>>> 0f8a18d55eb4e975e44e422e949b461e2456ad0f
svg {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  float: left;
  padding-left: 3rem;
  padding-top: 3rem;
}

h1 {
  color: white;
  font-family: 'Montserrat' sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  padding-top: 4rem;
}

p {
  color: #FFF;
  font-family: 'Montserrat' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

<<<<<<< HEAD
>>>>>>> fce29000406b9a7ce37ade979d596b68d3e5869c
=======
  
  .content {
    display: flex;
    align-items: center;
  } 
  
  .phone-call {
    position: relative;
    left: -15px; 
    top: -10px; 
    width: 30px;
    height: 30px;
    color: rgba(192, 183, 232, 1);
  }
  
  .text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    margin-left: 15px;
    color: rgba(255, 255, 255, 1);
  }
  
  .digits {
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 15px;
    margin-top: -5px;
    color: red;
    color: rgba(255, 255, 255, 1);
  }
  
  .vector-5 {
    position: relative;
    left: -20px; 
    color: rgb(0, 128, 17);
  }
  
  .vector-6 {
    position: relative;
    left: 20px; 
    color: rgb(0, 128, 92);
  }

  
>>>>>>> 116bd42fbe53581ddcaef5e923d80245eb644f4a
=======
body {
  font-size:16px ;
  background: #302C42;
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 70px;
  color: #fff;
  overflow-x: hidden;
}

main {
  margin-top: 120px;
  display: flex;
  gap: 90px;

}
>>>>>>> 0f8a18d55eb4e975e44e422e949b461e2456ad0f

figure {
  /* margin-top: 100px; */
  position: relative;
}

.shadow {
  width: 100%;
  max-width: 424px;
  height: auto;
  object-fit: cover;
}
.right {
  position: absolute;
  top: -35%;
  left: 30%;
}
.curve{
  position: absolute;
  top: 45%;
  left: -20%;
}

.left{
  position: absolute;
  top: -35%;
  left:10% ;
  /* z-index: 1; */
}
 .google {
  width: 100%;
  max-width: 490px;
  object-fit: cover;
  border-radius: 100px 100px 100px 240px;
  height:auto ;
  position: absolute;
  z-index: 2;
  top: 3%;
  right: 3%;
  -webkit-border-radius: 100px 100px 100px 240px;
  -moz-border-radius: 100px 100px 100px 240px;
  -ms-border-radius: 100px 100px 100px 240px;
  -o-border-radius: 100px 100px 100px 240px;
}
